<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style-signup.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

        <script src="signup.js"></script>
  </head>
  <body>
    <div class="signup-form">
      <form class="" action="/signup" method="post">
        <h1>Sign Up</h1>
        <input type="text" placeholder="Username" name="username" class="txtb">
        <input type="text" placeholder="patient or doctor" name="usertype" class="txtb" id="type">
        <input type="email" placeholder="Email" name="email" class="txtb">
        <input type="password" placeholder="Password" name="password" class="txtb">
        
        <input type="speciality" placeholder="speciality" name="speciality" class="txtb doc">
        <input type="clinic" placeholder="clinic" name="clinic" class="txtb doc">
        <input type="experience" placeholder="experience" name="experience" class="txtb doc">
        <input type="phone" placeholder="phone" name="phone" class="txtb">
        <input type="submit" value="Create Account" class="signup-btn">
        <a href="/login">Already Have one ?</a>
      </form>
    </div>
  </body>
</html>
